[user]
	name = dyc5828
	email = dyc5828@gmail.com
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = osxkeychain
[url "https://<TOKEN>:@github.com/"]
	insteadOf = https://github.com/
