[user]
	name = dyc5828
	email = dyc5828@gmail.com
[credential "https://dev.azure.com"]
	useHttpPath = true
[credential]
	helper = osxkeychain
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[url "https://<TOKEN>:@github.com/"]
	insteadOf = https://github.com/
